{
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "strict": [2, "never"],
    "eol-last": 0,
    "no-mixed-requires": 0,
    "no-underscore-dangle": 0,
    "no-extraneous-dependencies": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "max-len": 0,
    "no-bitwise": 2,
    "camelcase": 2,
    "eqeqeq": 2,
    "wrap-iife": [2, "inside"],
    "no-use-before-define": [2, "nofunc"],
    "no-caller": 2,
    "no-undef": 2,
    "new-cap": 2,
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "env" :{
    "browser": true,
  }
}
