<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://npmcdn.com/bootstrap@4.0.0-alpha.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/app.styles.css">
  <meta charset="UTF-8">
  <title>React Starter</title>
</head>
<body>
  <div id="app"><div><%- html %></div></div>
  <script>window.__INITIAL_STATE__ = <%- initialState %>;</script>
  <script src="/static/index_bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</body>
</html>
